{% extends "layout.html" %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 shadow mt-5">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">New Withdrawal</h3>
                    </div>

                    <div class="card-body">

                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Warning!</h4>
                            <p>Withdrawals are processed manually. Please allow up to 24 hours for your withdrawal to
                                be processed.</p>
                        </div>

                        <!-- show aviliable balance -->
                        <div class="mb-3 text-center">
                            <h5>Available Balance: </h5>
                            <span class="fw-bold">USDT {{user.profile.balance}}</span>
                        </div>

                        <form action="{% url 'newWithdrawal' %}" method="POST">
                            {% csrf_token %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}

                            <div class="mb-3">
                                <label for="amount" class="form-label fw-bold">USDT amount to withdraw</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="amount" name="amount"
                                        placeholder="Enter amount" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group justify-content-center">
                                    <button type="button" class="btn btn-outline-success text-dark"
                                        onclick="addAmount(1)">+1</button>
                                    <button type="button" class="btn btn-outline-success text-dark"
                                        onclick="addAmount(5)">+5</button>
                                    <button type="button" class="btn btn-outline-success text-dark"
                                        onclick="addAmount(10)">+10</button>
                                    <button type="button" class="btn btn-outline-success text-dark"
                                        onclick="addAmount(20)">+20</button>
                                    <button type="button" class="btn btn-outline-success text-dark"
                                        onclick="addAmount(50)">+50</button>
                                    <button type="button" class="btn btn-outline-success text-dark"
                                        onclick="addAmount(100)">+100</button>
                                    <button type="button" class="btn btn-outline-success text-dark"
                                        onclick="withdrawAll()">All</button>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-success me-4">Withdraw</button>
                                <a href="{% url 'withdrawals' %}" class="btn btn-secondary">Go Back</a>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
</main>



<script>
    function addAmount(amount) {
        var input = document.getElementById("amount");
        var value = parseInt(input.value);
        if (!isNaN(value)) {
            input.value = value + amount;
        } else {
            input.value = amount;
        }
    }

    function withdrawAll(){
        var input = document.getElementById("amount");
        var value = parseInt(input.value);
        var balance = parseInt("{{user.profile.balance}}");
        if (!isNaN(value)) {
            input.value = balance;
        } else {
            input.value = balance;
        }
    }
</script>

{% endblock %}